@import "../../styles";

.c-header{
  position: relative;
  width: 100%;
  background-color: $config-color__neutral-black;
  height: auto;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;


  .c-header__logo{
    width: 200px;
    position: relative;

    img{
      width: 100%;
    }
  }

  nav{

    .p-link{
      display: inline-block;
      padding: 20px 30px;
    }
  }
}
