@import "../../styles";

.c-dashboard{

  h2{
    text-align: center;
  }

  .module {
    text-align: center;
    color: $config-color__neutral-white;
    width: 100%;
    border-radius: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    position:relative;

    .module--hover{
      display: none;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $config-color__neutral-black--transparent;

      h4{
        position: relative;
        top: 35%;
      }
    }

    &:hover{

      .module--hover{
        display: block;
        cursor: pointer;
      }
    }
  }
}

