<div class="c-heroes" *ngIf="heroes">
  <div class="p-wrapper">
    <h2>Hero List with a total of: <span class="u-highlight">{{heroes.data.total}} results and offset {{heroes.data.offset}}</span></h2>
    <ul class="heroes">
      <li *ngFor="let hero of heroes.data.results">
        <a routerLink="/hero/{{hero.id}}">{{hero.name}}</a>
      </li>
    </ul>
    <div *ngIf="paginationLinks" class="c-pagination">
      <button class="p-btn"  *ngIf="heroes.data.offset > 0" (click)="prevHeroes(heroes.data.offset)">Prev</button>
      <a class="p-link" *ngFor="let link of paginationLinks" routerLink="/hero-list/{{link*resultsPerPages}}" (click)="getHeroesOffset(link*resultsPerPages)">{{link+1}}</a>
      <button class="p-btn" *ngIf="heroes.data.count == resultsPerPages" (click)="nextHeroes(heroes.data.offset)">Next</button>
    </div>
  </div>
</div>



